<div class="well">
  <div class="bs-example">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" placeholder="Title" required>
      </div>
      <div class="dropdown">
        <!--<label for="btn">Choose a category</label>-->
        <!--<button class="btn btn-primary dropdown-toggle" type="button" id="btn" data-toggle="dropdown">Category-->
          <!--<span class="caret"></span></button>-->
        <!--<ul class="dropdown-menu">-->
          <!--<li><a>Entertainment</a></li>-->
          <!--<li value="Sports"><a>Sports</a></li>-->
          <!--<li value="Education">Education</li>-->
          <!--<li value="Technology">Technology</li>-->
        <!--</ul>-->
        <!--<label for="sel1">Select Category (select one):</label>-->
        <select class="form-control" #sel1>
          <option value="Entertainment">Entertainment</option>
          <option value="Education">Education</option>
          <option value="Sports">Sports</option>
          <option value="Technology">Technology</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="10" id="description" name="description" [(ngModel)]="description" placeholder="Your text goes here" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" (click)="postBlog(title,description,sel1.value)">Publish</button>
    </form>
  </div>
</div>
